@model List<Book>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Başlık</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Yazar adı</th>
            <th scope="col">Yayın evi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Book book  in Model )
        {
            <tr>
            <th scope="row">@book.Id</th>
            <td>@book.Title</td>
            <td>@book.Description </td>
            <td>@book.Author </td>
            <td>@book.Publisher </td>

        </tr>
        }
    </tbody>
</table>
